
.container {
    display: flex;
    vertical-align: top;
    flex-wrap: wrap;
    justify-content: center;

}

.cell {
    width: 90%;
    max-width: 100%;
    margin: 0.5rem;
    
}

.courses {
    display: flex;
    justify-content: center;
}
  
mat-card {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.add-course {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

#add-button {
    width: 20%;
    height: 70%;
}

mat-form-field {
    width: 60%;
}

form {
    width: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button_courses {
    width: 200px;
    height: 80px;
    margin-left: 30px;
}

.remove {
    display: flex;
    justify-content: center;
}

.remove-button {
    background-color: red;
    color: white;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 30px;
}